body {
    text-align: center;
    margin-top:50px;
}
.login {
    display: inline-block;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0 11px 0px #bfbfbf;
    max-width: 100%;
    height:500px;
    font-size:18px;
    padding-top:70px;
}
h1{
    font-size:25px;
}

.textlogo {
    background-image: linear-gradient(to left, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span.text-introduce {
    display: block; 
}
.input-group
{
    width:350px;
    margin-top: 20px;
}

.input-group-addon {
    background: #fff;
    border-right: none;
}

input[type="text"], input[type="password"] {
    border-left: none;
}

    input[type="text"]:focus, input[type="password"]:focus {
        border-left: 3px solid #e74c3c;
        -webkit-transition: 0.4s ease;
    }

input[type="submit"]#login {
    width:  350px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    height: 55px;
}

.login-bar {
    margin-top: 10px;
}
label
{
    font-weight: normal;
}



.register {
    margin-top: 20px;
    margin:0 auto;
    padding-top:20px;
}
.register-inner a{
    margin: 0 auto;
    font-weight: bold;
    line-height: 1.5;
    color: #1a73e8;
    font-size: 14px;
    padding: 0px;
    display: flex;
}
.register-inner a:hover {
    color:#88b1fb;
    text-decoration: none;
}
.btn {
    background-color: #1a73e8;
    font-size: 18px;
}




