* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {

    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightskyblue;
}

.top {
    display: flex;
    width: 80%;
    margin: auto;
    height: 100px;
    align-items: center;
}

.logo {
    position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-container, .menu, .log {
    display: flex;
}

.logo-container {
    flex: 1;
    float: left;
    font-weight: 400px;
    color: white;
}

nav {
    flex: 2;
    color: white;
}

nav a {
    color: white;
}

.menu {
    margin-top: 10px;
    justify-content: space-around;
    list-style: none;
    font-size: 14px;
}

.log {
    flex: 1;
    margin-left: 20px;
    justify-content: flex-end;
}
span{
   
}
.logout {
    flex: 1;
    margin-left: 20px;
    justify-content: flex-end;
}

.signup-btn {
    padding: 12px 25px;
    margin-right: 50px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}

.login-btn {
    padding: 12px 25px;
    border-style: solid;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}

.signup-btn:hover {
    background-color: red;
}
welcome-btn:hover {
    color:black;
}
.login-btn:hover {
    background-color: red;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.details {
    padding: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.register-electricity {
    flex: 1;
    height: 120px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/dktt.png");
}

.online-bill {
    flex: 1;
    height: 120px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/tttt.jpg");
}

.sale-schedule {
    flex: 1;
    height: 120px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/tccs.jpg");
}

.bill-searching {
    flex: 1;
    height: 120px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/dvtt.jpg");
}
